#uploadForm {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #fileInput {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 18px;
  }
  